HELP.md
.cache/
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Database ###
promptdatabase.db

### VS Code ###
.vscode/

### Node.js ###
node_modules/

### Angular ###
**/*.d.ts

# Ignore cache created with the Angular CLI.
.angular/