.leftBar {
    height: 100%;
    width: 10%;
    background-color: #09081b;
    flex: 0.08;
    align-items: top;
    justify-content: center;
    display: flex;
}

.burger {
    margin-top: 5px;
    position: absolute;
    border-radius: 50%;
    background-color: transparent;
    border-style: none;
}

.burger:hover {
    background-color: aliceblue;
    transition: 0.5s;
}

.welecomeLabel {
    display: inline-block;
    height: auto;
}

.text {
    font-size: 27px;
    letter-spacing: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #B6B5B3;
    border-right: 5px solid;
    width: 100%;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2s steps(71),
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {border-color: transparent;}
}

@keyframes typing {
    from {width: 0} 
}

.chatContainer {
    position: flex;
    height: 100%;
    width: 90%;
    margin-left: auto;
    margin-right: 0;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    flex: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chatInput {
    position: fixed;
    bottom: 0;
    margin-bottom: 40px;
    height: 100px;
    width: 80%;
    font-size: 25px;
    letter-spacing: 1px;
    background-color: #2D2B2D;
    border-style: ridge;
    border-color: #4c4c50;
    font-family: monospace;
    color: #B6B5B3;
    text-align: top;
    text-justify: auto;
    resize: none;
}

:host {
    background: #101010;
    top: 0;
    color: #fff;
    position: fixed;
    display: flex;
    left: 0;
    width: 100vw;
    height: 100vh;
}