<!DOCTYPE html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="loginSide">
        <img src="assets/logo-wsiz.png" alt="logo" />
        <p class="loginP">Zaloguj się do swojego konta</p>
        <div class="creditials">
            <input class="login" placeholder="Login">
            <input class="password" placeholder="Hasło">
        </div>
    </div>

    <div class="singInSide">
        <div class="newDiv">
            <p class="new">Nowy?</p>
        </div>
        <div class="register">
            <p class="registerP">Zarejestruj się i synchronizuj</p>
        </div>
        <a class = "signInButton">
            <span></span>
             <span></span>
             <span></span>
             <span></span>
            Dołącz</a>
    </div>
</body>